modules = ["web", "nodejs-20"]
run = "node server"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 3000

[deployment]
run = ["sh", "-c", "localhost:8000"]
